<% include partials/_header %>

<h1 id="welcome-header">Welcome to Past Tents!</h1>



<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.campgroundsigns.com/img/lg/X/mutcd-campground-guide-sign-campfires-x-rs-042.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Browse Reviews</h5>
          <p class="card-text">Want to see what others think of your favorite spot?  Click below and see!</p>
          <a href="/reviews" class="btn btn-info">Hike on over!</a>
        </div>
    </div>

<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.campgroundsigns.com/img/lg/X/Group-Camping-Sign-X-RM-210.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Browse Campsites</h5>
          <p class="card-text">Have a favorite to get away from it all?  Click and see if there are others who love it too!</p>
          <a href="/reviews/new" class="btn btn-info">Hike on over!</a>
        </div>
    </div>

<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://i.pinimg.com/originals/d2/57/87/d25787b425d82a1e606e7ae8ef2d81a0.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Add a Campsite</h5>
          <p class="card-text">Know of a campsite that you'd like to share?  Click below to add to the growing list of spots! </p>
            <a href="/campsites" class="btn btn-info">Hike on over!</a>
            </div>
        </div>

<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://images.campgroundsigns.com/img/lg/X/mutcd-campground-guide-sign-deer-viewing-area-x-rs-011.png" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Add a Review</h5>
        <p class="card-text">Been places?  Share your thoughts with other campers! Click below to add your reviews.</p>
            <a href="/campsites/new" class="btn btn-info">Hike on over!</a>
            </div>
    </div>


<% include partials/_footer %>