<% include partials/_header %>

<h1>This is the join page</h1>

<form action="/join" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="displayname" placeholder="displayname">
	<input type="password" name="password" placeholder="password">
	<button type="submit">Submit</button>
</form>

<% include partials/_footer %>