#title {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}
#mainPageCarousel {
    margin: auto;
    max-width: 1000px;
    max-height: 500px
}
#copyright {
    font-size: 10px;
    text-align: center;
}
.carousel-caption {
    font-family: 'Gloria Hallelujah', cursive;
}
.nav-item {
    font-family: 'Gloria Hallelujah', cursive;
}
body {
    background:#CAE4DB;
}
.navbar {
    background: #DEAE1D;
}
.reviewSection {
    border: 1px solid;
    border-color: #00303F;
    margin: 5px;
    padding: 5px;
}
p {
    margin: 0;
}






