#title {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
}
#mainPageCarousel {
    margin: auto;
    max-height: 60%;
}
#copyright {
    font-size: 10px;
    text-align: center;
}
.carousel-caption {
    font-family: 'Gloria Hallelujah', cursive;
}
.nav-item {
    font-family: 'Gloria Hallelujah', cursive;
}
body {
    background:#CAE4DB;
}
.navbar {
    background: #DEAE1D;
}
.reviewSection {
    border: 1px solid;
    border-color: #00303F;
    margin: 5px;
    padding: 5px;
}
p {
    margin: 0;
}
/* Welcome Page */

#welcome-header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;

}
.card {
    display: inline-block;
    margin: 12px;
}


