<% include ../partials/_header %>

<div class="container">
	<div class="row">
		<div class="col">
			<h1>Browse Campsites</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a class="btn btn-info" href="/campsites/new">Add a Campsite</a>
		</div>
	</div>
	<br>
	<div>
		<% for (let i = 0; i < campsites.length; i++) { %>
		<ul style="list-style-type: none">
			<li>
				<div class="row">
					<div class="col-auto">
						<img class="campsiteIndexPhoto" src="https://thedyrt.imgix.net/stock/4bc8d4bcf22d1f92d460bd10ec10df6f.jpg?crop=faces&fit=crop&w=120&h=120&dpr=1&dystock=1&ixlib=js-1.1.1">
					</div>
					<div class="col-auto mr-auto">
						<h5><a href="/campsites/<%=campsites[i].id%>"><%=campsites[i].location%></a></h5>
					</div>
				</div>
			</li>
		</ul>
  	<% } %>
  </div>
</div>

<% include ../partials/_footer %>