<% include ../partials/_header %>

<h1>Edit <%=reviews.location%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Campers Index</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Review</h2>
    <form action="/reviews/<%=reviews.id%>?_method=PUT" method="POST">
      <textarea></textarea><br>
      <button type="submit">Update Review</button>
    </form>

<% include ../partials/_footer %>