<% include ../partials/_header %>

<h1>Create an Review</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/reviews/index">Reviews Index</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/reviews" method="POST">
      <select name="campsiteId">
        <% for (let i = 0; i < campsites.length; i++) { %>
        <option value="<%=campsites[i].id%>"><%=campsites[i].location%></option>
        <% } %>
      </select><br>
      <textarea name="body" placeholder="Enter Review Here"></textarea><br/>
      <button type="submit">submit</button>
    </form>

<% include ../partials/_footer %>