<% include ../partials/_header %>

<h1>Edit <%=users.name%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Campers Index</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Camper attributes</h2>
    <form action="/users/<%=users.id%>?_method=PUT" method="POST">
      <input type="text" name="username" value="<%=users.username%>"><br>
      <button type="submit">Update Campers</button>
    </form>

<% include ../partials/_footer %>