<% include ../partials/_header %>
<h1>Create an Camper</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Campers Index</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <form action="/users" method="POST">
      <input type="text" name="name">
      <button type="submit">submit</button>
    </form>
<% include ../partials/_footer %>